
footer {
  /* border: solid 1px red; */
  display: flex;
  justify-content: space-between;
  padding: 7vh 4vw;
  margin-top: 100px;
  border-top: solid 1px #000000;
}

.footerLeft {
  display: flex;
  gap: 5vw;
}

.footerLogo {
  display: flex;
  align-self: center;
  font-size: 25px;
  font-weight: 700;
}

.addressContainer, 
.contactContainer,
.socialMediaContainer {
  line-height: 1.3;
}

.addressContainer > h4,
.contactContainer > h4,
.socialMediaContainer > h4 {
  margin-bottom: 1rem;
}

.footerRight {
  display: flex;
  gap: 5vw;
}